/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the background to black */
body {
    background-color: #000;
    color: #fff; /* Set text color to white */
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header with the Venture Devils logo and navigation bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000; /* Set the header background color */
}

.logo {
    text-decoration: none;
    font-size: 32px;
    color: #FFC627; /* Set logo text color */
}

.Devils {
    color: #8C1D40; /* Set the "Devils" text color to white */
}

.navbar {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    font-size: 24px;
    color: #FFC627; /* Set navigation link color */
}

.navbar a:hover {
    color: #8C1D40; /* Set navigation link hover color */
}
/* Style the main Home section */
.Home {
    padding: 50px;
    text-align: left;
}

.home-title {
    font-size: 60px;
    color: #FFC627; /* Set home title color */
}

.home-text {
    font-size: 18px;
    line-height: 1.5;
    color: white; /* Set home text color to white */
}
